/* app css stylesheet */

body {
  padding-top: 60px;
  padding-bottom: 40px;
}
.sidebar-nav {
  padding: 9px 0;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/* glimpse hacks */
.gl-framed > rect {
  fill: none;
  stroke: #ccc;
  stroke-width: 1px;
  opacity: 1;
}

#main-graph {
  width: 720px;
  /*border: solid 1px #ccc;*/
}

#global-status-msg {
  position: absolute;
  top: 50px;
  right: 20px;
  padding-right: 14px;
  text-align: center;
  width: 100px;
}

.series-label {
  cursor: pointer;
}
